<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor_WASM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FIle Upload
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calljs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call JavaScript
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="employeecomp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categorysender">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Category Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="productreceiver">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categorystoragesender">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Category Session Storage Sender
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="deptlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call Dept API
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="deptlistproxy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call Dept API using Proxy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cstojs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call C# to JS
            </NavLink>
        </li>
        <!--The Navigation Link for the fetchproducts thsi will be loaded lazily based on code
    written in App.razor-->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchproducts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lazy Load
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="productfragment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> USing Template
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
